<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.estudent.app.project"
    android:versionCode="14"
    android:versionName="0.998" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name=".Common.ContextHelper"
        android:enabled="true"
        android:icon="@drawable/estudentlogo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >

        <activity
            android:name=".gui.EStudentStartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gui.PlanerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".mensa.MensaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".mensa.MensaSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.MessageOutbox"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.MessageInboxActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.MessageWrite"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".gui.MessageRead"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".unimap.UnimapActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.AboutDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>
        <activity
            android:name=".gui.CancelCourseDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>
        <activity
            android:name=".gui.EStudentFirstActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Light.Dialog" >
        </activity>
        <activity
            android:name=".gui.BoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.AddNewTopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.ReplyTopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.LectureScheduleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.LectureScheduleResultsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.LectureTimeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.RegisterCourseDialog_DirectorySearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>

        <service android:name=".services.BackgroundService" >
        </service>

        <activity
            android:name=".gui.AdvSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".gui.AdvSettingsMsgRefreshIntervalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".slider.FragmentTabsPager"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".slider.CourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".slider.MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".slider.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name="de.estudent.app.project.gui.Announcements"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Sherlock.Dialog" >
        </activity>
        <activity
            android:name=".gui.CourseFilesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity android:name=".gui.AddContactActivity" >
        </activity>
        <activity android:name=".Sandbox.oAuthtestLogin" >
        </activity>
    </application>

</manifest>